<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maqolalar</title>
</head>
<body style="background-color:#f1f1f1">
    <h1>Maqolalar!!!!</h1>
    <hr>

    {% for i in maq %}
    <a style="text-decoration: none; color: red" href="/maqola/{{i.id}}/"><h3>{{i.sarlavha}}</h3></a>
    <b>{{i.sana}}</b>
    <hr>
    <br>
    {% endfor %}


    <form action="{% url 'submit' %}"  method="post">{% csrf_token %}
        <input name="sarlavha" type="text" placeholder="Sarlavha kiriting">
        <input name="mavzu" type="text" placeholder="Mavzu kiriting ...">
        <input name="matn" type="text" placeholder="Matn kiriting...">
        <input name="muallif" type="text" placeholder="Muallif kiriting...">
        <input name="data" type="date" placeholder="Vaqtni kiriting...">
        <button type="submit">Topshirish</button>
      </form>
    <br>
    <br>
    <a href="/logout/" style="text-decoration: none; color: black"><button>Chiqish</button></a>
</body>
</html>